   /********* Generelt ***************/

   * {
       margin: 0;
       padding: 0;
   }

   body {
       font-family: 'Myriad Pro', 'Arial';
       color: black;
   }

   .baggrund {
       background: url(img/laise_baggrund.jpg);
       background-size: cover;
   }

   .transperant {
       background-color: #ffffff;
       opacity: 0.6;
       filter: alpha(opacity=60);
   }

   ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       color: black;
   }

   h1 {
       font-size: 1.7em;
       color: darkslategray;
   }

   h2 {
       font-size: 1.2em;
       color: black;
   }

   h3 {
       font-size: 1.2em;
       font-style: normal;
       color: darkslategray;
   }

   p {
       font-size: 1em;
       color: black;
   }

   a {
       color: black;
   }

   /***********logo************/

   .logo {
       background-image: url("img/logo_sort_skrift.png");
       background-repeat: no-repeat;
       width: 28vw;
       height: 23vw;
       position: absolute;
       top: 0;
       left: 0;
       z-index: 0;
   }

   /********** Navigation / Menu **************
   header {
       position: fixed;
       background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.3) 100%);
       width: 100%;
       padding: 1em;
   }

   header nav {
       text-align: right;
       margin: 0 5vw 0 0;
   }

   header nav a {
       text-decoration: none;
       color: #fff;
       padding-left: 4px;
       display: block;
   }

   header nav a:hover {
       color: dimgrey;
       background-color: white;
   }

   @media screen and (min-width: 676px) {
       header nav a {
           display: inline-block;
       }
   }

   li {
       display: inline;
   }

   nav {
       font-size: 1.1em;
       text-align-last: right;
   }
*/

   /********** Navigation / menu slut **************/

   /***** img ******/

   .colmn2 img {
       max-width: 17vw;
       padding-bottom: 20px;
   }

   .colmn_logo img {
       max-width: 10vw;
       padding-bottom: 0px;
       padding-right: 80vw;
   }

   /******** container *****/

   .container {
       display: flex;
       flex-wrap: wrap;
       position: relative;
   }

   /******** colmn****/

   .colmn_logo {
       flex-grow: 0.1;
       padding-right: 15px;
   }


   .colmn2 {
       border-left-style: solid;
       border-left-color: gainsboro;
       flex-grow: 2;
       flex-basis: 250px;
       padding-left: 20px;
       padding-right: 20px;
       margin-left: 33vw;
   }

   /****** section logo *******/

   .logo {
       display: flex;
       flex-wrap: wrap;
       max-height: 13vw;
   }

   /*************** media query ***********/

   /******** ipad portrait **************/

   @media screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {

       .colmn2 {
           margin-left: 20vw;
           /*         background-color: darkseagreen; */
       }
       .colmn2 img {
           max-width: 36vw;
       }
       .colmn_logo img {
           max-width: 15vw;
       }
   }

   /***************mobil portrait ****************/

   @media screen and (min-width: 300px) and (max-width: 375px) and (orientation: portrait) {

       .colmn2 {
           margin-left: 13vw;
           /*        background-color: greenyellow; */
       }
       .colmn2 img {
           max-width: 58vw;
       }
       .colmn_logo img {
           max-width: 20vw;
       }
   }

   /********* mobil landscape ****/

   @media screen and (min-width: 376px) and (max-width: 627px) and (orientation: landscape) {

       .colmn2 {
           margin-left: 18vw;
           /*         background-color: red; */
       }
       .colmn2 img {
           max-width: 36vw;
       }
       .colmn_logo img {
           max-width: 15vw;
       }
   }

   /********** ipad landscape ********/

   @media screen and (min-width: 628px) and (max-width: 1024px) and (orientation: landscape) {
       .colmn2 {
           margin-left: 18vw;
           /*       background-color: orange; */
       }
       .colmn2 img {
           max-width: 45vw;
       }
       .colmn_logo img {
           max-width: 14vw;
       }
   }

   /************* desktop landscap **********/

   @media screen and (min-width: 1025px) and (max-width: 2560px) and (orientation: landscape) {
       .colmn2 {
           margin-left: 60vw;
           /*      background-color: pink; */
       }
       .colmn2 img {
           max-width: 15vw;
       }
       .colmn_logo img {
           max-width: 7vw;
       }
   }

   /********** media query slut ***************/

   /******* tema1 *********/

   .tema1_colmn1 {
       border-left-style: solid;
       border-left-color: gainsboro;
       flex-grow: 2;
       flex-basis: 250px;
       padding-left: 20px;
       padding-right: 20px;
       margin-left: 20vw;
       max-width: 25vw;
   }

   .tema1_colmn2 {
       flex-grow: 1;
       flex-basis: 250px;
       padding-left: 20px;
       padding-right: 20px;
   }

   .tema1_colmn2 img {
       max-width: 30vw;
   }

   .tema1_colmn3 img {
       max-width: 8vw;
       padding-bottom: 6px;
       padding-right: 20px;
   }

   nav {
       flex-grow: 0;
       flex-basis: 50px;
       margin: 0 10px 0 30px;
   }

   /******* tema2 *********/

   .tema2_colmn1 {
       border-left-style: solid;
       border-left-color: gainsboro;
       flex-grow: 2;
       flex-basis: 250px;
       padding-left: 20px;
       padding-right: 20px;
       padding-bottom: 20px;
       margin-left: 20vw;
       max-width: 25vw;
   }

   .tema2_colmn2 {
       flex-grow: 1;
       flex-basis: 250px;
       padding-left: 20px;
       padding-right: 20px;
   }

   .tema2_colmn2 img {
       max-width: 30vw;
   }

   .tema2_colmn3 img {
       max-width: 8vw;
       padding-bottom: 6px;
       padding-right: 20px;
   }

   .tema2_colmn4 {
       border-left-style: solid;
       border-left-color: gainsboro;
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 2;
       flex-basis: 250px;
       padding-left: 20px;
       padding-top: 20px;
       padding-right: 20px;
       margin-left: 20vw;
       max-width: 25vw;
   }

   .tema2_colmn4 img {
       max-width: 25vw;
   }

   .tema2_colmn5 {
       border-top-style: solid;
       border-top-color: gainsboro;
       padding-top: 20px;
       flex-grow: 1;
       flex-basis: 250px;
       padding-left: 20px;
       padding-right: 160px;
   }
