   /********* Generelt ***************/

   * {
       margin: 0;
       padding: 0;
   }

   body {
       font-family: 'Myriad Pro', 'Arial';
       color: black;
   }

   .baggrund {
       background: url(img/laise_baggrund.jpg);
       background-size: cover;
       background-repeat: no-repeat;
   }

   ul {
       list-style-type: none;
   }

   h1 {
       font-size: 1.6em;
       color: darkslategray;
   }

   h2 {
       font-size: 1.1em;
       color: black;
   }

   h3 {
       font-size: 1.1em;
       font-style: normal;
       color: darkslategray;
   }

   p {
       font-size: 1em;
       color: black;
       padding-top: 5px;
   }

   a {
       color: black;
   }

   /***********logo************/

   .logo {
       background-repeat: no-repeat;
       width: 10vw;
       position: fixed;
       top: 0;
       left: 0;
   }

   .logo img {
       max-width: 100%;
       min-width: 75px;
   }

   /********** Navigation / Menu **************/

   header {
       position: fixed;
       width: 100vw;
       padding: 5px;
   }

   header img {
       max-width: 125px;
   }

   nav img {
       width: 10vw;
       padding-left: 4px;
   }

   header nav {
       text-align: right;
       margin: 0 5vw 0 0;
       flex-grow: 0;
       flex-basis: 50px;
       overflow: hidden;
   }

   header nav a {
       display: block;
   }

   nav img:hover {
       width: 25vw;
   }

   @media screen and (min-width: 767px) {
       header nav a {
           display: inline-block;
       }
   }

   header ul {
       list-style-type: none;
       padding: 10px;
   }

   header li {
       display: inline;
   }

   header nav {
       padding-bottom: 80px;
   }

   /********** Navigation / menu slut **************/

   /**** img *****/

   .kontakt img {
       max-width: 50px;
   }

   .colmn img {
       max-width: 17vw;
       padding-bottom: 20px;
   }

   .colmn2 img,
   .colmn3 img,
   .colmn6 img {
       max-width: 40vw;
       padding-bottom: 10px;
   }

   /******** container *****/

   .container,
   .container2,
   .container3,
   .container2_om {
       display: flex;
       flex-wrap: wrap;
   }

   /******** colmns ****/

   .colmn {
       border-left-style: solid;
       border-left-color: gainsboro;
       padding: 20px;
       margin-left: 78vw;
       max-width: 667px;
   }

   .colmn1 {
       flex-grow: 2.5;
       flex-basis: 300px;
       border-left-style: solid;
       border-left-color: gainsboro;
       padding: 20px;
       padding-top: 150px;
       margin-left: 15vw;
       max-width: 40vw;
   }

   .colmn2 {
       flex-grow: 1;
       flex-basis: 300px;
       padding: 20px;
       padding-top: 150px;
   }

   .colmn3 {
       border-left-style: solid;
       border-left-color: gainsboro;
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 2;
       flex-basis: 300px;
       padding: 20px;
       padding-right: 20px;
       margin-left: 15vw;
       max-width: 40vw;
   }

   .colmn4 {
       border-top-style: solid;
       border-top-color: gainsboro;
       padding: 20px;
       flex-grow: 1;
       max-width: 50vw;
       flex-basis: 300px;
       padding-left: 20px;
       padding-right: 90px;
   }

   .colmn5 {
       border-left-style: solid;
       border-left-color: gainsboro;
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 1;
       flex-basis: 300px;
       padding: 20px;
       margin-left: 15vw;
   }

   .colmn6 {
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 1;
       flex-basis: 300px;
       padding: 20px;
       max-width: 50vw;
   }

   .om_colmn3 {
       border-left-style: solid;
       border-left-color: gainsboro;
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 1;
       flex-basis: 200px;
       padding: 20px;
       margin-left: 15vw;
       max-width: 23vw;
   }

   .om_colmn4,
   .om_colmn5 {
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 1;
       flex-basis: 200px;
       padding: 20px;
       padding-top: 65px;
       max-width: 23vw;
   }

   /*************** media query ***********/

   /******** ipad portrait **************/

   @media screen and (min-width: 415px) and (max-width: 1366px) and (orientation: portrait) {

       .colmn {
           margin-left: 50vw;
           padding: 54px;
       }
       .colmn img {
           max-width: 36vw;
           padding-bottom: 26px;
       }
       .baggrund {
           background-image: url(img/laise_baggrund_ipad_portrait2.jpg);
       }

       nav img {
           width: 14vw;
       }

       .colmn1 {
           max-width: 75vw;
       }

       .colmn2,
       .colmn3,
       .colmn4,
       .colmn6 {
           max-width: 75vw;
           margin-left: 15vw;
           padding: 20px;
           border-left-style: solid;
           border-left-color: gainsboro;
       }

       .colmn2 img,
       .colmn3 img,
       .colmn6 img {
           max-width: 75vw;
       }

       .container2 {
           flex-direction: column-reverse;
       }

       .colmn6 {
           border-top-style: none;
       }

       .colmn5 {
           max-width: 75vw;
           margin-left: 15vw;
       }

       .om_colmn3,
       .om_colmn4,
       .om_colmn5 {
           max-width: 75vw;
           margin-left: 15vw;
           padding-top: 0;
           flex-basis: 330px;
           border-left-style: solid;
           border-left-color: gainsboro;
           border-top-style: none;
       }
   }

   /********** ipad landscape ********/

   @media screen and (min-width: 813px) and (max-width: 1024px) and (orientation: landscape) {

       .colmn {
           margin-left: 65vw;
           padding: 31px;
       }
       .colmn img {
           max-width: 20vw;
           padding-bottom: 26px;
       }
       .baggrund {
           background-image: url(img/laise_baggrund_ipad_landscape.jpg);
       }
       .colmn2 img,
       .colmn3 img,
       .colmn6 img {
           max-width: 75vw;
       }
       .colmn1 {
           margin-left: 15vw;
           min-width: 75vw;
       }
       .colmn2 {
           max-width: 75vw;
           margin-left: 15vw;
           padding-top: 20px;
           padding-left: 20px;
           border-left-style: solid;
           border-left-color: gainsboro;
       }
       .container2 {
           flex-direction: column-reverse;
       }
       .colmn3 {
           max-width: 75vw;
           margin-left: 15vw;
           padding: 20px;
           border-top-style: none;
       }
       .colmn4,
       .colmn5 {
           max-width: 75vw;
           margin-left: 15vw;
           padding: 20px;
           padding-top: 0;
           border-left-style: solid;
           border-left-color: gainsboro;
       }
       .om_colmn3 {
           max-width: 75vw;
           margin-left: 15vw;
           padding-bottom: 0;
           flex-basis: 330px;
       }
       .om_colmn4 {
           padding-bottom: 0;
       }
       .om_colmn4,
       .om_colmn5,
       .colmn6 {
           max-width: 75vw;
           margin-left: 15vw;
           padding-top: 0;
           flex-basis: 330px;
           border-left-style: solid;
           border-left-color: gainsboro;
           border-top-style: none;
       }
   }

   /***************mobil portrait ****************/

   @media screen and (min-width: 300px) and (max-width: 414px) and (orientation: portrait) {

       * {
           font-size: 0.94em;
       }
       nav img {
           width: 19vw;
           padding-bottom: 6px;
       }
       .colmn {
           margin-left: 40vw;
       }
       .colmn img {
           max-width: 48vw;
       }
       .baggrund {
           background-image: url(img/laise_baggrund_mobil_portrait3.jpg);
       }
       .colmn1 {
           max-width: 54vw;
           margin-left: 13vw;
           padding-top: 60px;
       }
       .container2 {
           flex-direction: column-reverse;
       }
       .colmn2,
       .colmn4,
       .colmn5 {
           max-width: 54vw;
           margin-left: 13vw;
           padding: 20px;
           border-left-style: solid;
           border-left-color: gainsboro;
       }
       .colmn2 img,
       .colmn3 img,
       .colmn6 img {
           max-width: 50vw;
       }
       .colmn3 {
           max-width: 54vw;
           margin-left: 13vw;
           padding: 20px;
           flex-basis: 98px;
           border-top-style: none;
       }
       .colmn6 {
           max-width: 54vw;
           margin-left: 13vw;
           padding: 20px;
           flex-basis: 300px;
           border-left-style: solid;
           border-left-color: gainsboro;
           border-top-style: none;
       }
       .om_colmn3 {
           max-width: 54vw;
           margin-left: 13vw;
       }
       .om_colmn4,
       .om_colmn5 {
           max-width: 54vw;
           margin-left: 13vw;
           padding-top: 0;
           border-left-style: solid;
           border-left-color: gainsboro;
           border-top-style: none;
       }
   }

   /********* mobil landscape ****/

   @media screen and (min-width: 376px) and (max-width: 812px) and (orientation: landscape) {

       nav img {
           width: 10vw;
           padding-bottom: 12px;
       }
       .colmn2 img,
       .colmn3 img,
       .colmn6 img {
           max-width: 60vw;
       }
       .colmn {
           margin-left: 70vw;
       }
       .colmn img {
           max-width: 16.2vw;
           padding-bottom: 10px;
       }
       .baggrund {
           background-image: url(img/laise_baggrund_mobil_landscape.jpg);
       }
       .container2 {
           flex-direction: column-reverse;
       }
       .colmn1 {
           max-width: 60vw;
           margin-left: 13vw;
           padding-top: 100px;
       }
       .colmn3 {
           max-width: 60vw;
           margin-left: 13vw;
           padding: 20px;
           border-top-style: none;
       }
       .colmn2,
       .colmn4,
       .colmn5,
       .colmn6 {
           max-width: 60vw;
           margin-left: 13vw;
           padding: 20px;
           border-left-style: solid;
           border-left-color: gainsboro;
       }
       .colmn6 {
           border-top-style: none;
       }
       .om_colmn3 {
           max-width: 60vw;
           margin-left: 13vw;
           flex-basis: 330px;
           border-left-style: solid;
           border-left-color: gainsboro;
       }
       .om_colmn4,
       .om_colmn5 {
           max-width: 60vw;
           margin-left: 13vw;
           padding-top: 0;
           flex-basis: 330px;
           border-left-style: solid;
           border-left-color: gainsboro;
           border-top-style: none;
       }
   }

   /********** media query slut ***************/

   /******** forside Image Overlay Hover ******/

   .container_link {
       position: relative;
   }

   .image {
       display: block;
       height: auto;
   }

   .overlay {
       position: absolute;
       top: 2px;
       bottom: 2px;
       left: 0;
       right: 0;
       height: 85%;
       width: 100%;
       opacity: 0;
       transition: .5s ease;
       background-color: darkslategray;
   }

   .container_link:hover .overlay {
       opacity: 0.9;
   }

   .text {
       color: white;
       font-size: 1.2em;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

   /********* footer ********/

   footer {
       position: absolute;
       right: 20px;
       padding: 10px;
   }

   footer img {
       width: 10vw;
       min-width: 150px;
   }

   /************** bi animation *****/

   #bi {
       width: 2%;
       top: 5%;
       left: 10%;
       position: absolute;
   }

   .bi {
       animation-name: bi_kf;
       animation-duration: 2.8s;
       animation-timing-function: linear;
       animation-fill-mode: both;
   }

   @keyframes bi_kf {
       0% {
           top: 5%;
           left: 10%;
       }
       2.5% {
           top: 12.5%;
           left: 13%;
       }
       5% {
           top: 20%;
           left: 16%;
       }
       7.5% {
           top: 25%;
           left: 19.5%;
       }
       10% {
           top: 30%;
           left: 23%;
       }
       12.5% {
           top: 33.5%;
           left: 28%;
       }
       15% {
           top: 37%;
           left: 33%;
       }
       17.5% {
           top: 35%;
           left: 40%;
       }
       20% {
           top: 25%;
           left: 42%;
       }
       22.5% {
           top: 22.5%;
           left: 36%;
       }
       25% {
           top: 20%;
           left: 30%;
       }
       27.5% {
           top: 22%;
           left: 25%;
       }
       30% {
           top: 30%;
           left: 23%;
       }
       32.5% {
           top: 35%;
           left: 24.5%;
       }
       35% {
           top: 40%;
           left: 26%;
       }
       37.5% {
           top: 42.5%;
           left: 29.5%;
       }
       40% {
           top: 45%;
           left: 33%;
       }
       42.5% {
           top: 47%;
           left: 40%;
       }
       45% {
           top: 50%;
           left: 46%;
       }
       47.5% {
           top: 52%;
           left: 50%;
       }
       50% {
           top: 50%;
           left: 55%;
       }
       52.5% {
           top: 45%;
           left: 60%;
       }
       55% {
           top: 40%;
           left: 63%;
       }
       57.5% {
           top: 31%;
           left: 65%;
       }
       60% {
           top: 25%;
           left: 63%;
       }
       62.5% {
           top: 22.5%;
           left: 58%;
       }
       65% {
           top: 20%;
           left: 53%;
       }
       67.5% {
           top: 22%;
           left: 49%;
       }
       70% {
           top: 30%;
           left: 46%;
       }
       72.5% {
           top: 35%;
           left: 53%;
       }
       75% {
           top: 33%;
           left: 57%;
       }
       77.5% {
           top: 32%;
           left: 61%;
       }
       80% {
           top: 25%;
           left: 63%;
       }
       82.5% {
           top: 15%;
           left: 60%;
       }
       85% {
           top: 10%;
           left: 53%;
       }
       87.5% {
           top: 8.5%;
           left: 46%;
       }
       90% {
           top: 7%;
           left: 40%;
       }
       92.5% {
           top: 6.5%;
           left: 31.5%;
       }
       95% {
           top: 6%;
           left: 23%;
       }
       97.5% {
           top: 5.5%;
           left: 16%;
       }
       100% {
           top: 5%;
           left: 10%;
       }
   }
