   /********* Generelt ***************/

   * {
       margin: 0;
       padding: 0;
   }

   body {
       font-family: 'Myriad Pro', 'Arial';
       color: black;
   }

   .baggrund {
       background: url(img/laise_baggrund.jpg);
       background-size: cover;
       background-repeat: no-repeat;
   }

   /* .transperant {
       background: transparent;
       background-color: #;
       opacity: 0.6;
   }
*/

   ul {
       list-style-type: none;
   }

   h1 {
       font-size: 1.6em;
       color: darkslategray;
   }

   h2 {
       font-size: 1.1em;
       color: black;
   }

   h3 {
       font-size: 1.1em;
       font-style: normal;
       color: darkslategray;
   }

   p {
       font-size: 1em;
       color: black;
       padding-top: 5px;
   }

   a {
       color: black;
   }

   /***********logo************/

   .logo {
       background-repeat: no-repeat;
       width: 10vw;
       position: fixed;
       top: 0;
       left: 0;
   }

   .logo img {
       max-width: 100%;
       min-width: 75px;
   }

   /********** Navigation / Menu **************/

   header {
       position: fixed;
       width: 100vw;
       padding: 5px;
   }

   header img {
       max-width: 100px;

   }

   nav img {
       width: 6.5vw;
   }

   header nav {
       text-align: right;
       margin: 0 5vw 0 0;
       flex-grow: 0;
       flex-basis: 50px;
       overflow: hidden;
   }

   header nav a {
       padding-left: 4px;
       display: block;
   }

   nav img:hover {
       width: 25vw;
   }

   @media screen and (min-width: 676px) {
       header nav a {
           display: inline-block;
       }
   }

   header ul {
       list-style-type: none;
       padding: 10px;
   }

   header li {
       display: inline;
   }

   header nav {
       padding-bottom: 80px;
   }

   .menu_retning {
       display: inline-block;
   }

   /********** Navigation / menu slut **************/

   /***** img ******/

   .colmn img {
       max-width: 17vw;
       padding-bottom: 20px;
   }

   /******** container *****/

   .container,
   .container2,
   .container3 {
       display: flex;
       flex-wrap: wrap;
   }

   /******** colmn****/

   .colmn {
       border-left-style: solid;
       border-left-color: gainsboro;
       padding: 20px;
       margin-left: 78vw;
       max-width: 667px;
   }

   /******* tema1 *********/

   .tema1_colmn1,
   .tema2_colmn1 {
       flex-grow: 2.5;
       flex-basis: 300px;
       border-left-style: solid;
       border-left-color: gainsboro;
       padding: 20px;
       padding-top: 150px;
       margin-left: 15vw;
       max-width: 40vw;
   }

   .tema1_colmn2,
   .tema2_colmn2 {
       flex-grow: 1;
       flex-basis: 300px;
       padding: 20px;
       padding-top: 150px;

   }

   .tema1_colmn2 img,
   .tema1_colmn1 img,
   .tema2_colmn2 img {
       max-width: 35vw;
       padding-bottom: 10px;
   }

   /******* tema2 *********/

   .tema2_colmn3 {
       border-left-style: solid;
       border-left-color: gainsboro;
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 2;
       flex-basis: 204px;
       padding: 20px;
       padding-right: 20px;
       margin-left: 15vw;
       max-width: 40vw;
   }

   .tema2_colmn3 img {
       max-width: 35vw;
       padding-bottom: 10px;
   }

   .tema2_colmn4 {
       border-top-style: solid;
       border-top-color: gainsboro;
       padding: 20px;
       flex-grow: 1;
       max-width: 50vw;
       flex-basis: 300px;
       padding-left: 20px;
       padding-right: 90px;
       z-index: -1;
   }

   /********** tema2 slut *******/

   /*********** tema3 ********/

   .tema3_colmn5 {
       border-left-style: solid;
       border-left-color: gainsboro;
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 1;
       flex-basis: 300px;
       padding: 20px;
       margin-left: 15vw;
   }

   .tema3_colmn6 {
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 1;
       flex-basis: 300px;
       padding: 20px;
       max-width: 50vw;
   }

   .tema3_colmn6 img {
       max-width: 35vw;
       padding-bottom: 10px;
   }

   /********* om mig *********/

   .om_colmn3 {
       border-left-style: solid;
       border-left-color: gainsboro;
       border-top-style: solid;
       border-top-color: gainsboro;
       flex-grow: 2;
       flex-basis: 204px;
       padding: 20px;
       padding-right: 20px;
       margin-left: 15vw;
       max-width: 20vw;
   }

   .om_colmn4 {
       border-top-style: solid;
       border-top-color: gainsboro;
       padding: 20px;
       flex-grow: 1;
       max-width: 70vw;
       flex-basis: 300px;
       padding-left: 20px;
       padding-right: 90px;
       z-index: -1;
   }

   /*************** media query ***********/

   /******** ipad portrait **************/

   @media screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {

       .colmn {
           margin-left: 20vw;
           background-color: brown;
           width: 50vw;
       }
       .colmn img {
           max-width: 36vw;
       }

       .tema1_colmn1 {
           /*background-color: darkseagreen; */
           max-width: 75vw;
       }
       .tema1_colmn2 {
           /* background-color: lavender; */
           max-width: 75vw;
           border-left-style: solid;
           border-left-color: gainsboro;
           padding: 20px;
           margin-left: 15vw;
       }
       .container2 {
           flex-direction: column-reverse;
       }
       .tema2_colmn1 {
           /*    background-color: darkseagreen;*/
           max-width: 75vw;
       }
       .tema2_colmn2 {
           /*   background-color: lavender;*/
           border-left-style: solid;
           border-left-color: gainsboro;
           margin-left: 15vw;
           padding: 20px;
           max-width: 75vw;
           margin-left: 15vw;
       }
       .tema2_colmn3 {
           /*   background-color: lavender;*/
           border-top-style: none;
           margin-left: 15vw;
           padding: 20px;
           max-width: 50vw;
           margin-left: 15vw;
       }
       .tema2_colmn4 {
           /*   background-color: lavender;*/
           border-left-style: solid;
           border-left-color: gainsboro;
           margin-left: 15vw;
           padding: 20px;
           max-width: 75vw;
           margin-left: 15vw;
       }
       .tema3_colmn6 {
           border-top-style: none;
           border-left-style: solid;
           border-left-color: gainsboro;
           flex-grow: 1;
           flex-basis: 300px;
           padding: 20px;
           max-width: 50vw;
           margin-left: 15vw;
       }
   }

   /********** ipad landscape ********/

   @media screen and (min-width: 813px) and (max-width: 1024px) and (orientation: landscape) {
       .colmn {
           margin-left: 18vw;
           background-color: orange;
       }
       .colmn img {
           max-width: 45vw;
       }

       .tema1_colmn1 {
           margin-left: 13vw;
           /*       background-color: red;*/
           max-width: 50vw;
       }
       .tema1_colmn2 {
           /*     background-color: aqua; */
           padding-left: 15px;
           max-width: 50vw;
       }
   }

   /***************mobil portrait ****************/

   @media screen and (min-width: 300px) and (max-width: 375px) and (orientation: portrait) {

       * {
           font-size: 0.94em;
       }

       .colmn {
           margin-left: 13vw;
           background-color: greenyellow;
       }

       .colmn img {
           max-width: 58vw;
       }

       .tema1_colmn1 {
           margin-left: 13vw;
           /*     background-color: greenyellow; */
           max-width: 54vw;
       }
       .tema1_colmn2 {
           /*    background-color: lavender; */
           padding-top: 10px;
           padding-left: 18vw;
           max-width: 75vw;
       }
       nav img {
           max-width: 20vw;
       }
       .container2 {
           flex-direction: column-reverse;
       }
       .tema2_colmn1 {
           margin-left: 13vw;
           /*     background-color: greenyellow; */
           max-width: 54vw;
       }
       .tema2_colmn2 {
           /*    background-color: lavender; */
           border-left-style: solid;
           border-left-color: gainsboro;
           margin-left: 13vw;
           padding: 20px;
           max-width: 54vw;
           margin-left: 13vw;
       }
       .tema2_colmn3 {
           /*   background-color: lavender;*/
           border-top-style: none;
           margin-left: 15vw;
           padding: 20px;
           max-width: 55vw;
           margin-left: 13vw;
           flex-basis: 98px;
       }
       .tema2_colmn4 {
           /*   background-color: lavender;*/
           border-left-style: solid;
           border-left-color: gainsboro;
           margin-left: 15vw;
           padding: 20px;
           max-width: 75vw;
           margin-left: 13vw;
       }
       .tema3_colmn5 {
           /*   background-color: lavender;*/
           border-left-style: solid;
           border-left-color: gainsboro;
           margin-left: 13vw;
           padding: 20px;
           max-width: 75vw;

       }
       .tema3_colmn6 {
           border-top-style: none;
           border-left-style: solid;
           border-left-color: gainsboro;
           flex-grow: 1;
           flex-basis: 300px;
           padding: 20px;
           max-width: 50vw;
           margin-left: 13vw;
       }
   }

   /********* mobil landscape ****/

   @media screen and (min-width: 376px) and (max-width: 812px) and (orientation: landscape) {

       .colmn {
           margin-left: 18vw;
           background-color: red;
           max-width: 55vw;
       }
       .colmn img {
           max-width: 36vw;
       }

       .tema1_colmn1 {
           margin-left: 13vw;
           /*      background-color: red; */
           max-width: 65vw;
       }
       .tema1_colmn2 {
           /*    background-color: aqua;*/
           padding-top: 10px;
           padding-left: 16vw;
           max-width: 75vw;
       }
       .container2 {
           flex-direction: column-reverse;
       }
       .tema2_colmn1 {
           margin-left: 13vw;
           /*     background-color: greenyellow; */
           max-width: 60vw;
       }
       .tema2_colmn2 {
           /*    background-color: lavender; */
           border-left-style: solid;
           border-left-color: gainsboro;
           margin-left: 13vw;
           padding: 20px;
           max-width: 54vw;
           margin-left: 13vw;
       }
       .tema2_colmn3 {
           /*   background-color: lavender;*/
           border-top-style: none;
           margin-left: 15vw;
           padding: 20px;
           max-width: 55vw;
           margin-left: 13vw;
       }
       .tema2_colmn4 {
           /*   background-color: lavender;*/
           border-left-style: solid;
           border-left-color: gainsboro;
           margin-left: 15vw;
           padding: 20px;
           max-width: 60vw;
           margin-left: 13vw;
       }
       .tema3_colmn5 {
           /*   background-color: lavender;*/
           border-left-style: solid;
           border-left-color: gainsboro;
           margin-left: 13vw;
           padding: 20px;
           max-width: 75vw;

       }
       .tema3_colmn6 {
           border-top-style: none;
           border-left-style: solid;
           border-left-color: gainsboro;
           flex-grow: 1;
           flex-basis: 300px;
           padding: 20px;
           max-width: 50vw;
           margin-left: 13vw;
       }
   }

   /********** media query slut ***************/

   /******** forside Image Overlay Hover ******/

   .container_link {
       position: relative;
   }

   .image {
       display: block;
       /*       width: 100%;*/
       height: auto;
   }

   .overlay {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       height: 85%;
       width: 100%;
       opacity: 0;
       transition: .5s ease;
       background-color: darkslategray;
   }

   .container_link:hover .overlay {
       opacity: 0.8;
   }

   .text {
       color: white;
       font-size: 1.2em;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }
